<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Download</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Datei herunterladen</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <p style="color:red;">{{ messages[0] }}</p>
          {% endif %}
        {% endwith %}

        {% if password_required %}
        <form method="post">
            <input type="password" name="password" placeholder="Passwort eingeben" required>
            <button type="submit">Download starten</button>
        </form>
        {% endif %}
    </div>
</body>
</html>